In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import sys
import src.rfm

In [4]:
finName = "./data/example.csv"
sqlName = "./data/buildTableU.sql"
name = src.rfm.extractHeader(sqlName)
dataAll = pd.read_csv(finName, sep = '\t',names = name[0]['会员消费菜品事实表'], header = None)
filterName = ['会员编号', '消费日期', '消费时间', '菜品编号', '菜品名称', '菜品数量', '菜品单价' ]

data = pd.DataFrame(dataAll, columns = filterName, dtype = 'object')
# exclude duplicate and null
dataNodup = data.drop_duplicates()
print('duplicate quantity={}'.format(data.shape[0] - dataNodup.shape[0]))
dataNodup = dataNodup.infer_objects()
dataClear = dataNodup.dropna(how = 'any')
print('NAN quantity={}'.format(dataNodup.shape[0] - dataClear.shape[0]))

duplicate quantity=0
NAN quantity=0

In [6]:
dataClear.head()
dataClear.dtypes

会员编号      int64
消费日期     object
消费时间     object
菜品编号      int64
菜品名称     object
菜品数量      int64
菜品单价    float64
dtype: object

In [16]:
a=dataClear['消费时间'][0:2]
b=dataClear['消费日期'][0:2]
b[0]

'2018-11-03'

In [18]:
t=b[0].split('-')
dt.date(int(t[0]),int(t[1]),int(t[2]))

datetime.date(2018, 11, 3)

In [21]:
dataClear['price'] = dataClear['菜品数量']*dataClear['菜品单价']

In [22]:
dataClear.head()

,会员编号,消费日期,消费时间,菜品编号,菜品名称,菜品数量,菜品单价,price
0,1033378582,2018-11-03,2018-11-03 16:57:41,1,菜品01,1,49.0,49.0
1,1033378582,2018-11-03,2018-11-03 16:57:41,10101,菜品010101,1,49.0,49.0
2,1033378582,2018-11-03,2018-11-03 16:57:41,2,菜品02,6,30.0,180.0
3,1033378582,2018-11-03,2018-11-03 16:57:41,20201,菜品020201,1,5.0,5.0
4,1033378582,2018-11-03,2018-11-03 16:57:41,20202,菜品020202,5,5.0,25.0

In [26]:
d = pd.DataFrame(dataClear,columns = ['会员编号', '消费日期', '消费时间','price'])
price = d.groupby(['会员编号', '消费日期', '消费时间']).sum()

In [35]:
price.groupby('会员编号').head()

                                            price
会员编号       消费日期       消费时间
1027478498 2018-12-28 2018-12-28 19:11:13   439.5
1027500144 2018-11-27 2018-11-27 13:08:10   270.0
1030794986 2018-11-05 2018-11-05 11:04:12     1.0
1030797014 2018-11-24 2018-11-24 14:03:56   248.0
1030904479 2018-11-12 2018-11-12 11:16:39     4.0
...                                           ...
1042623876 2018-12-31 2018-12-31 22:16:06  2321.0
1042624064 2018-12-31 2018-12-31 22:17:07   509.0
1042624974 2018-12-31 2018-12-31 22:27:38  1790.5
1042625808 2018-12-31 2018-12-31 22:50:55   560.0
1042626541 2018-12-31 2018-12-31 22:50:15   666.5

[7350 rows x 1 columns]

In [46]:
d = price.reset_index()
d.head()

         会员编号        消费日期                 消费时间  price
0  1027478498  2018-12-28  2018-12-28 19:11:13  439.5
1  1027500144  2018-11-27  2018-11-27 13:08:10  270.0
2  1030794986  2018-11-05  2018-11-05 11:04:12    1.0
3  1030797014  2018-11-24  2018-11-24 14:03:56  248.0
4  1030904479  2018-11-12  2018-11-12 11:16:39    4.0

In [49]:
date = pd.DataFrame(d,columns = ['会员编号', '消费日期'])

In [51]:
date = date.groupby('会员编号')
date.head()

            会员编号        消费日期
0     1027478498  2018-12-28
1     1027500144  2018-11-27
2     1030794986  2018-11-05
3     1030797014  2018-11-24
4     1030904479  2018-11-12
...          ...         ...
7519  1042623876  2018-12-31
7520  1042624064  2018-12-31
7521  1042624974  2018-12-31
7522  1042625808  2018-12-31
7523  1042626541  2018-12-31

[7350 rows x 2 columns]

In [52]:
recent = date['消费日期'].max()
frequency = date['消费日期'].count()

In [61]:
pricesum = d.groupby('会员编号')['price'].sum()
pricesum.head()

会员编号
1027478498    439.5
1027500144    270.0
1030794986      1.0
1030797014    248.0
1030904479      4.0
Name: price, dtype: float64

In [29]:
price.sort_values(by = '会员编号')

                                            price
会员编号       消费日期       消费时间
1027478498 2018-12-28 2018-12-28 19:11:13   439.5
1027500144 2018-11-27 2018-11-27 13:08:10   270.0
1030794986 2018-11-05 2018-11-05 11:04:12     1.0
1030797014 2018-11-24 2018-11-24 14:03:56   248.0
1030904479 2018-11-12 2018-11-12 11:16:39     4.0
...                                           ...
1042623876 2018-12-31 2018-12-31 22:16:06  2321.0
1042624064 2018-12-31 2018-12-31 22:17:07   509.0
1042624974 2018-12-31 2018-12-31 22:27:38  1790.5
1042625808 2018-12-31 2018-12-31 22:50:55   560.0
1042626541 2018-12-31 2018-12-31 22:50:15   666.5

[7524 rows x 1 columns]

In [64]:
rfm = pd.merge(pd.merge(pricesum,recent, on ='会员编号'),frequency,on='会员编号')

In [67]:
rfm.shape

(6513, 3)

In [68]:
rfm.rename(columns={'price':'money', '消费日期_x':'recent', '消费日期_y':'frequency'}, inplace=True)

In [69]:
rfm.head()

            money      recent  frequency
会员编号
1027478498  439.5  2018-12-28          1
1027500144  270.0  2018-11-27          1
1030794986    1.0  2018-11-05          1
1030797014  248.0  2018-11-24          1
1030904479    4.0  2018-11-12          1

In [71]:
rfm.describe()

               money    frequency
count    6513.000000  6513.000000
mean     1599.872407     1.155228
std      2992.408568     0.947976
min         1.000000     1.000000
25%       632.000000     1.000000
50%      1042.000000     1.000000
75%      1748.500000     1.000000
max    130870.000000    36.000000